[class|="btn"],
[class*=" btn-"]{
	position: relative;
	text-align: center;
	text-decoration:none;
}
[class|="btn"] input[type="submit"],
[class*=" btn-"] input[type="submit"],
[class|="btn"] input[type="reset"],
[class*=" btn-"] input[type="reset"]{
	background: url("../img/empty.png") repeat;
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	border:0;
}
/*btn-default*/
[class*="btn-default"]{
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -0.02em;
	font-weight: 600;
	color: #eeeef0;
	padding: 7px 14px 9px;
	background: #e9025f;
	border-radius: 3px;
}
[class*="btn-default"]:hover{
	background: #ae1768;
}
/*btn-default end*/
/*btn-menu*/
[class*="btn-menu"]{
	font-size: 20px;
	line-height: 24px;
	font-family: 'kelson-sans-bold-bg', Arial, Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 17px 5px 16px;
	min-height: 24px;
	background: #e9025f;
}
[class*="btn-menu"] [class*="icon-"]{
	vertical-align: middle;
	margin: 0 10px 0 0;
}
[class*="btn-menu"] .text-inner{
	vertical-align: middle;
	display: inline-block;
	max-width: 70%;
}
[class*="btn-menu"]:hover{
	background: #d5025b;
}
/*btn-menu end*/
[class*="btn-more"]{
	line-height: 15px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	padding: 18px 5px;
	background: #43515e;
	font-size: 0;
	letter-spacing: -4px;
}
[class*="btn-more"]>*{
	font-size: 12px;
	letter-spacing: normal;
}
[class*="btn-more"]:after{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -1px;
	width: 1px;
	background-color: #f00;
}
[class*="btn-more"] [class*="icon-"]{
	vertical-align: middle;
	font-size: 12px;
	margin: 0 5px 0 0;
}
[class*="btn-more"] .text-inner{
	vertical-align: middle;
	display: inline-block;
	max-width: 70%;
	letter-spacing: -0.03em;
	margin-top: 4px;
}
[class*="btn-more"]:hover{
	background: #211f22;
}
/*btn-more*/

/*btn-more end*/