/*!
	--- WIDGETS CONTAINS ---

	1. Fancybox
	2. Jquery Checkbox (check/radio)
	3. Custom scroll-bar

*/
.fancybox-wrap,.ui-helper-zfix{position:absolute;top:0;left:0}
.fancybox-inner,.ui-icon{overflow:hidden}
.fancybox-nav,.ui-helper-reset,.ui-multiselect-header a{text-decoration:none}
.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}
.fancybox-wrap{z-index:8020}
.fancybox-inner,.fancybox-outer,.fancybox-skin{position:relative}
.fancybox-skin{background:#e9025f;color:#444;text-shadow:none;border-radius:4px}
.change-run-popup-wrap .fancybox-skin{background:#fff}
.fancybox-opened{z-index:8030}
.fancybox-opened .fancybox-skin{box-shadow:0 4px 18px rgba(0,0,0,.78)}
.change-run-popup-wrap.fancybox-opened .fancybox-skin{box-shadow:10px 11px 0 rgba(0,0,0,.2)}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}
.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}
.fancybox-image{max-width:100%;max-height:100%}
#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(../img/fancybox/fancybox_sprite.png)}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}
.fancybox-close,.fancybox-nav,.fancybox-nav span{cursor:pointer;z-index:8040}
#fancybox-loading div{width:44px;height:44px;background:url(../img/fancybox/fancybox_loading.gif) center center no-repeat}
.fancybox-close{position:absolute;top:-14px;right:-14px;width:36px;height:36px;background:url(../img/sprite-icons.png) 12px -1304px no-repeat #e9025f;border-radius:50%;-webkit-transition:.2s;transition:.2s;backface-visibility:hidden;-webkit-transform:translateZ(0);transform:translateZ(0)}
.change-run-popup-wrap .fancybox-close{display:none}
.fancybox-close:hover{background-color:#cf025d}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;background:url(../img/fancybox/blank.gif);/*! helps IE */
-webkit-tap-highlight-color:transparent}
.fancybox-prev{left:0}
.fancybox-next{right:0}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;visibility:hidden}
.fancybox-prev span{left:10px;background-position:0 -36px}
.fancybox-next span{right:10px;background-position:0 -72px}
.fancybox-nav:hover span{visibility:visible}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}
.fancybox-lock{width:auto}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(../img/empty.png)}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}
.fancybox-title{visibility:hidden;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}
.fancybox-opened .fancybox-title{visibility:visible}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;/*! Fallback for web browsers that doesn't support RGBa */
background:rgba(0,0,0,.8);border-radius:15px;text-shadow:0 1px 2px #222;color:#fff;font-weight:700;line-height:24px;white-space:nowrap}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}
.fancybox-title-inside-wrap{padding-top:10px}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}
/*!--- 1. Fancybox End ---*/

/*!--- 2. Jquery Checkbox (check/radio) ---*/
/*! checkbox */
.jquery-checkbox{height:14px}
.jquery-checkbox img{vertical-align:middle;width:13px;height:13px;background:url(../img/sprite-forms.png) no-repeat}
.jquery-checkbox-checked .jquery-checkbox-hover img,.jquery-checkbox-checked img{background-position:0 -33px}
.jquery-checkbox-disabled img{background-position:0 -66px}
.jquery-checkbox-checked .jquery-checkbox-disabled img{background-position:0 -99px}
/*! checkbox end */
/*! radio */
.jquery-radiobox{height:14px}
.jquery-radiobox img{vertical-align:top;width:14px;height:14px;background:url(../img/sprite-forms.png) no-repeat}
.jquery-radiobox img,.jquery-radiobox-checked .jquery-radiobox-disabled img,.jquery-radiobox-disabled img{background-position:0 0}
.jquery-radiobox-checked .jquery-radiobox-hover img,.jquery-radiobox-checked img{background-position:0 -34px}
/*! radio end */
/*!--- 2. Jquery Checkbox (check/radio) ---*/
/*!--- 3. Custom scroll-bar ---*/
.scrollable{position:relative}
.scrollable:focus{outline:0}
.scrollable .viewport{position:relative;overflow:hidden}
.scrollable .viewport .overview{position:absolute}
.scrollable .scroll-bar{display:none;border-radius:3px;z-index:3}
.scrollable .scroll-bar.vertical{position:absolute;right:6px;top:6px;bottom:6px;height:auto!important;background:rgba(67,81,94,.35);box-shadow:0 -3px 0 rgba(67,81,94,.35),0 3px 0 rgba(67,81,94,.35)}
.scrollable .scroll-bar.horizontal{position:relative;width:100%}
.scrollable .scroll-bar .thumb{position:absolute}
.scrollable .scroll-bar.vertical .thumb{width:5px;min-height:10px;left:2px}
.scrollable .scroll-bar.horizontal .thumb{height:5px;min-width:10px;left:0}
.not-selectable{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
/*!Default skin*/
.scrollable.default-skin{padding-right:18px}
.scrollable.gray-skin,.scrollable.modern-skin{padding-right:17px}
.scrollable.default-skin .scroll-bar.vertical{width:9px}
.scrollable.default-skin .scroll-bar.horizontal{height:9px}
.scrollable.default-skin .scroll-bar .thumb{border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-transition:opacity .2s;transition:opacity .2s;backface-visibility:hidden;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ViZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZiZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(left,#e7e9e9 0,#ebecec 25%,#fbfbfc 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,#e7e9e9),color-stop(25%,#ebecec),color-stop(100%,#fbfbfc));background:-webkit-linear-gradient(left,#e7e9e9 0,#ebecec 25%,#fbfbfc 100%);background:-o-linear-gradient(left,#e7e9e9 0,#ebecec 25%,#fbfbfc 100%);background:-ms-linear-gradient(left,#e7e9e9 0,#ebecec 25%,#fbfbfc 100%);background:linear-gradient(to right,#e7e9e9 0,#ebecec 25%,#fbfbfc 100%)}
.scrollable.default-skin .scroll-bar:hover .thumb{opacity:.85}
.scrollable.default-skin .scroll-bar [unselectable=on],.scrollable.default-skin .scroll-bar:hover [unselectable=on]{background:#fff}
/*!Gray skin*/
.scrollable.gray-skin .scroll-bar{border:1px solid gray;background-color:#d3d3d3}
.scrollable.gray-skin .scroll-bar .thumb{background-color:gray}
.scrollable.gray-skin .scroll-bar:hover .thumb{background-color:#000}
.scrollable.gray-skin .scroll-bar.vertical{width:10px}
.scrollable.gray-skin .scroll-bar.horizontal{height:10px;margin-top:2px}
/*!Modern skin*/
.scrollable.modern-skin .scroll-bar{border:1px solid gray;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-moz-box-shadow:inset 0 0 5px #888;-webkit-box-shadow:inset 0 0 5px #888;box-shadow:inset 0 0 5px #888}
.scrollable.modern-skin .scroll-bar .thumb{background-color:#95aabf;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px solid #536984}
.scrollable.modern-skin .scroll-bar.vertical .thumb{width:8px;background:-moz-linear-gradient(left,#95aabf 0,#547092 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,#95aabf),color-stop(100%,#547092));background:-webkit-linear-gradient(left,#95aabf 0,#547092 100%);background:-o-linear-gradient(left,#95aabf 0,#547092 100%);background:-ms-linear-gradient(left,#95aabf 0,#547092 100%);background:linear-gradient(to right,#95aabf 0,#547092 100%);-ms-filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=1 )"}
.scrollable.modern-skin .scroll-bar.horizontal .thumb{height:8px;background-image:linear-gradient(#95aabf,#547092);background-image:-o-linear-gradient(#95aabf,#547092);background-image:-moz-linear-gradient(#95aabf,#547092);background-image:-webkit-linear-gradient(#95aabf,#547092);background-image:-ms-linear-gradient(#95aabf,#547092);-ms-filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=0 )"}
.scrollable.modern-skin .scroll-bar.vertical{width:10px}
.scrollable.modern-skin .scroll-bar.horizontal{height:10px;margin-top:2px}
.sp-viewport{overflow-y:auto!important;overflow-x:hidden!important}
.scrollpanel .sp-scrollbar{width:18px;cursor:pointer;background:#fff}
.scrollpanel .sp-scrollbar .sp-thumb{background-color:#ededed;border-radius:9px;border:7px solid #fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.scrollpanel .sp-scrollbar.active .sp-thumb{background-color:#999}
/*!sidebar scrollpanel*/
.scrollable.sidebar.default-skin{padding-right:0}
.scrollable.sidebar .scroll-bar{z-index:2;border-radius:4px}
.scrollable.sidebar .viewport .overview{width:100%}
/*!sidebar scrollpanel end*/
/*!--- 3. Custom scroll-bar end ---*/
